/*!
 * CSS Completo com Bootstrap e tudo.
 * NAO EDITE ESSE ARQUIVO, POIS ELE SERA SUBSTITUIDO NAS RECOMPILACOES
*/
@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway:400,600,700');
@import "bootstrap/bootstrap.less";

/**
@font-face {
    font-family: 'patua_oneregular';
    src: url('../fonts/patuaone-regular-webfont.eot');
    src: url('../fonts/patuaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/patuaone-regular-webfont.woff2') format('woff2'),
         url('../fonts/patuaone-regular-webfont.woff') format('woff'),
         url('../fonts/patuaone-regular-webfont.ttf') format('truetype'),
         url('../fonts/patuaone-regular-webfont.svg#patua_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway_regular-webfont.eot');
    src: url('../fonts/raleway_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway_regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway_regular-webfont.woff') format('woff'),
         url('../fonts/raleway_regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway_regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway_600-webfont.eot');
    src: url('../fonts/raleway_600-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway_600-webfont.woff2') format('woff2'),
         url('../fonts/raleway_600-webfont.woff') format('woff'),
         url('../fonts/raleway_600-webfont.ttf') format('truetype'),
         url('../fonts/raleway_600-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
**/

@font-family-heading: 'Patua One', 'Arial Black', Arial, Tahoma, sans-serif;
@font-family-custom: 'Raleway', Arial, Tahoma, sans-serif;
@font-family-custom-bold: @font-family-custom;

@color-noticias: #cf000f;
@color-musicas: #f9690e;
@color-estudos: #16a085;
@color-videos: #3a539b;
@color-livros: #e40056;
@color-cinema: #66b511;
@color-podcasts: #3d91e2;

@color-primary: #0098de;
@color-secundary: #006ebb;
@color-light: #dadfe1;
@color-default: darken(@color-light, 50%);

@gutter-fit: 20px;
@gutter-slim: 10px;
@gutter-tiny: 6px;
@border-radius-default: 5px;

.border-radius(@size: @border-radius-default) {
  -webkit-border-radius: @size;
  -moz-border-radius: @size;
  border-radius: @size;
}

.navbar-static-top {
  z-index: auto;
  margin-bottom: 0;
}

.navbar-portal {
  padding-top: 5px;
  padding-bottom: 5px;

  .navbar-brand {
    &.brand-img {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 30px;
      img {
        display: inline-block;
        max-height: 30px;
      }
    }
  }

  .navbar-nav {
    > li > a {
      text-transform: lowercase;
      font-family: @font-family-heading;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      // only small screens // padding-top: 0px;
    }
  }
}

.site-header {
  padding: 24px 0 10px;
  background: #f8f8fb;
  border-bottom: 1px solid #dadfe1;

  .gp-portal & {
    border-top: 4px solid @color-primary;
  }

  .site-brand {
    display: block;
    overflow: hidden;
    height: 90px;
    padding: 0;
    margin: 0 0 8px;

    a {
      display: block;
      overflow: hidden;
      height: 70px;
      padding: 0;
      margin: 10px 0;
      text-indent: -5000px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;

      @media (max-width: @screen-sm-max) {
        background-position: center center;
      }
      &.logo-gospelprime {
        background-image: url('../images/logo-gospelprime.png');
      }
      &.logo-noticias {
        background-image: url('../images/logo-noticias.png');
      }
    }
  }

  .mask-publi-1 {
    background: #ccc;
    min-height: 90px;
    padding: 0;
    margin: 0 0 8px;
  }

}

// padrao para usar abaixo no nav-menu
.make-colored-navbar-toggle (@theme-color) {
  .navbar-toggle {
    border-color: desaturate(@theme-color, 40%);
    &:hover,
    &:focus {
      background-color: lighten(desaturate(@theme-color, 60%), 30%);
    }
    .icon-bar {
      background-color: desaturate(@theme-color, 40%);
    }
  }
}

.navbar-menu {
  min-height: 30px;
  margin-bottom: 0;

  .make-colored-navbar-toggle(@color-primary);
  &.noticias { .make-colored-navbar-toggle(@color-noticias); }
  &.musicas { .make-colored-navbar-toggle(@color-musicas); }
  &.estudos { .make-colored-navbar-toggle(@color-estudos); }
  &.videos { .make-colored-navbar-toggle(@color-videos); }
  &.livros { .make-colored-navbar-toggle(@color-livros); }
  &.cinema { .make-colored-navbar-toggle(@color-cinema); }
  &.podcasts { .make-colored-navbar-toggle(@color-podcasts); }

  .navbar-collapse, .navbar-form {
    @media (min-width: @grid-float-breakpoint) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-form {
    .form-group {
      padding-left: 3px!important;
      padding-right: 3px!important;
      .form-control {
        display: block;
        width: 100%;
        vertical-align: baseline;
        text-transform: lowercase;
        border-color: #dadfe1;
        .placeholder(#95a1a6);
      }
      .btn-default {
        text-transform: lowercase;
        background-color: #dadfe1;
        border-color: #dadfe1;
        color: @color-default;
      }
    }
  }

  .navbar-nav {
    // centraliza o menu (apenas em telas intermediarias)
    @media (min-width: @grid-float-breakpoint) and (max-width: @screen-md-max) {
      display: block;
      float: none;
      text-align: center;
      > li {
        display: inline-block;
        float: none;
        > a {
          font-size: 18px;
          padding-top: 8px;
          padding-bottom: 8px;

          .menu-lg& {
            padding-top:    @navbar-padding-vertical;
            padding-bottom: @navbar-padding-vertical;
          }
        }
      }
    }

    > li > a {
      text-transform: lowercase;
      font-family: @font-family-heading;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;

      @media (min-width: @grid-float-breakpoint) {
        padding-left: 10px;
        padding-right: 10px;
      }

      .menu-lg& {
        @media (min-width: @screen-sm-min) {
          font-size: 26px;
          line-height: 30px;
        }
        @media (min-width: @screen-lg-min) {
          font-size: 30px;
          line-height: 30px;
          padding-left:  @navbar-padding-horizontal;
          padding-right: @navbar-padding-horizontal;
        }
      }

      .noticias&, &.noticias { color: @color-noticias; }
      .musicas&, &.musicas { color: @color-musicas; }
      .estudos&, &.estudos { color: @color-estudos; }
      .videos&, &.videos { color: @color-videos; }
      .livros&, &.livros { color: @color-livros; }
      .cinema&, &.cinema { color: @color-cinema; }
      .podcasts&, &.podcasts { color: @color-podcasts; }
    }
  }
}

.site-content {
  margin-top: 15px;
  margin-bottom: 25px;

}

.site-poscontent {
  padding: 25px 0 25px;
  background: #f8f8fb;
}

.site-prefooter {
  padding: 35px 0 35px;
  background: @color-primary;
  border-top: 1px solid #dadfe1;
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: darken(#ffffff, 10%);
      text-decoration: underline;
    }
  }
}

.cloud-tags {
  padding: 0 60px;
  @media (max-width: @screen-sm-max) {
    padding: 0;
  }

  .tags-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 20px;
    font-weight: normal;
    font-family: @font-family-heading;
    font-size: 36px;
    line-height: 36px;
    text-transform: lowercase;
    text-align: right;
    color: inherit;
    @media (max-width: @screen-sm-max) {
      text-align: center;
    }
  }

  .tags-list {
    border-left: 1px solid lighten(@color-primary, 20%);
    @media (max-width: @screen-sm-max) {
      border-left: 0;
      text-align: center;
    }

    ul {
      display: block;
      position: relative;
      overflow: hidden;
      list-style: none;
      padding: 10px 20px;

      li {
        display: inline-block;
        margin: 0;
        padding: 0;

        a {
          display: inline-block;
          margin: 0;
          padding: 2px 6px;
          text-decoration: none;
          text-transform: lowercase;
          font-weight: normal;
          font-family: @font-family-heading;
          font-size: 20px;

          &.score-1 {
            font-size: 18px;
            line-height: 18px;
          }
          &.score-2 {
            font-size: 22px;
            line-height: 22px;
          }
          &.score-3 {
            font-size: 24px;
            line-height: 24px;
          }
          &.score-4 {
            font-size: 26px;
            line-height: 26px;
          }

          &:before {
            content: '#';
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.site-footer {
  padding: 18px 0 18px;
  background: @color-secundary;
  color: #ffffff;
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover {
      color: darken(#ffffff, 10%);
      text-decoration: underline;
    }
  }
}

.footer-links {
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      border-left: 1px solid lighten(@color-secundary, 30%);
      text-transform: lowercase;
      font-weight: normal;
      font-family: @font-family-custom;
      font-size: 16px;
      line-height: 16px;

      &:first-child {
        border-left: none;
      }

      a {
        display: block;
        margin: 0;
        padding: 0 8px 0 10px;
      }

      @media (max-width: @screen-sm-max) {
        border-left: 0;
        a {
          padding: 8px 10px;
        }
      }
    }
  }
}

.link-card {
  .border-radius();
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #eee;
  margin-bottom: 20px;

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 60%;
  }
  &.scale-15:before {
    padding-bottom: 124%;
  }
  &.scale-14:before {
    padding-bottom: 116%;
  }
  &.scale-13:before {
    padding-bottom: 108%;
  }
  &.scale-12:before {
    padding-bottom: 100%;
  }
  &.scale-11:before {
    padding-bottom: 93%;
  }
  &.scale-10:before {
    padding-bottom: 85%;
  }
  &.scale-9:before {
    padding-bottom: 75%;
  }
  &.scale-8:before {
    padding-bottom: 68%;
  }
  &.scale-7:before {
    padding-bottom: 58%;
  }
  &.scale-6:before {
    padding-bottom: 50%;
  }
  &.scale-5:before {
    padding-bottom: 42%;
  }
  &.scale-4:before {
    padding-bottom: 34%;
  }
  &.scale-3:before {
    padding-bottom: 25%;
  }
  &.scale-2:before {
    padding-bottom: 18%;
  }

  .image {
    .border-radius();
    display: block;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    //.transition(~"border-width .35s ease");
    border: 0px solid;
    .ch-noticias & {
      border-color: @color-noticias;
    }
    .ch-musicas & {
      border-color: @color-musicas;
    }
    .ch-estudos & {
      border-color: @color-estudos;
    }
    .ch-videos & {
      border-color: @color-videos;
    }
    .ch-livros & {
      border-color: @color-livros;
    }
    .ch-cinema & {
      border-color: @color-cinema;
    }
    .ch-podcasts & {
      border-color: @color-podcasts;
    }

    img {
      .border-radius();
      display: block;
      width: 100%;
      height: auto;
      min-height: 100%;
    }
    &:before {
      content: "";
      display: block;
      z-index: 20;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 35%;
      min-height: 60px;
      //background: url('../images/glass-black.png') repeat-x top left;
      //background-size: contain;
      #gradient.vertical(rgba(0, 0, 0, .0), rgba(0, 0, 0, .6));
      .transition(~"height .35s ease");
    }

    .icon {
      display: block;
      overflow: visible;
      z-index: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #ffffff;
      font-size: 60px;
      line-height: 60px;
      margin-top: -30px;
      margin-left: -30px;
      .opacity(.5);
    }
  }
  a&:hover, a:hover & {
    .image {
      //border-width:5px;
      &:before {
        height: 55%;
      }
      .icon {
        .opacity(.8);
      }
    }
  }
  .text-title {
    display: block;
    overflow: hidden;
    font-weight: normal;
    font-family: @font-family-heading;
    width: 100%;
    height: auto;
    max-height: 91%;
    z-index: 30;
    position: absolute;
    left: 0px;
    bottom: 9%;
    padding: 0 10px 0 15px;
    text-shadow: 1px 1px 0 #000000;
    color: #ffffff;
    border-left: 5px solid #ffffff;
    .ch-noticias & {
      border-color: @color-noticias;
    }
    .ch-musicas & {
      border-color: @color-musicas;
    }
    .ch-estudos & {
      border-color: @color-estudos;
    }
    .ch-videos & {
      border-color: @color-videos;
    }
    .ch-livros & {
      border-color: @color-livros;
    }
    .ch-cinema & {
      border-color: @color-cinema;
    }
    .ch-podcasts & {
      border-color: @color-podcasts;
    }
  }
}

.link-book {
  .border-radius();
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #eee;
  margin-bottom: 20px;
  .ch-noticias & {
    border-color: @color-noticias;
  }
  .ch-musicas & {
    border-color: @color-musicas;
  }
  .ch-estudos & {
    border-color: @color-estudos;
  }
  .ch-videos & {
    border-color: @color-videos;
  }
  .ch-livros & {
    border-color: @color-livros;
  }
  .ch-cinema & {
    border-color: @color-cinema;
  }
  .ch-podcasts & {
    border-color: @color-podcasts;
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 60%;
  }
  &.scale-8:before {
    padding-bottom: 156%;
  }
  &.scale-7:before {
    padding-bottom: 136%;
  }
  &.scale-6:before {
    padding-bottom: 116%;
  }
  &.scale-5:before {
    padding-bottom: 96%;
  }
  &.scale-4:before {
    padding-bottom: 76%;
  }
  &.scale-3:before {
    padding-bottom: 56%;
  }
  &.scale-2:before {
    padding-bottom: 36%;
  }

  .image {
    .border-radius();
    display: block;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    //.transition(~"border-width .35s ease");
    border: 0px solid;
    border-bottom-width: 5px;
    .ch-noticias & {
      border-color: @color-noticias;
    }
    .ch-musicas & {
      border-color: @color-musicas;
    }
    .ch-estudos & {
      border-color: @color-estudos;
    }
    .ch-videos & {
      border-color: @color-videos;
    }
    .ch-livros & {
      border-color: @color-livros;
    }
    .ch-cinema & {
      border-color: @color-cinema;
    }
    .ch-podcasts & {
      border-color: @color-podcasts;
    }

    img {
      .border-radius();
      display: block;
      width: 100%;
      height: auto;
      min-height: 100%;
    }
    &:before {
      content: "";
      display: block;
      z-index: 20;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 58%;
      min-height: 60px;
      //background: url('../images/glass-black.png') repeat-x top left;
      //background-size: contain;
      #gradient.vertical(rgba(0, 0, 0, .0), rgba(0, 0, 0, .6));
      .transition(~"height .35s ease");
    }

    .icon {
      display: block;
      overflow: visible;
      z-index: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #ffffff;
      font-size: 60px;
      line-height: 60px;
      margin-top: -30px;
      margin-left: -30px;
      .opacity(.5);
    }
  }
  a&:hover, a:hover & {
    .image {
      //border-width:5px;
      &:before {
        height: 85%;
      }
      .icon {
        .opacity(.8);
      }
    }
  }
  .link-content {
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 91%;
    z-index: 30;
    position: absolute;
    left: 0px;
    bottom: 5%;
    padding: 0 10px;

    .author-image {
      .border-radius();
      display: block;
      overflow: hidden;
      position: relative;
      width: 32%;
      height: auto;
      margin: 0 auto 10px;
      border: 2px solid #ffffff;
      background: rgba(0, 0, 0, .6);
      .box-shadow(0 1px 3px rgba(0, 0, 0, .6));

      img {
        .border-radius();
        display: block;
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 100%;
      }

      &:before {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }
    }

    .text-title {
      display: block;
      margin: 0 0 10px;
      font-weight: normal;
      font-family: @font-family-heading;
      text-shadow: 1px 1px 0 #000000;
      text-align: center;
      color: #ffffff;
    }
    .text-obs {
      display: block;
      margin: 0 0 10px;
      font-weight: normal;
      font-family: @font-family-custom;
      text-shadow: 1px 1px 0 #000000;
      text-align: center;
      color: #ffffff;
    }
  }
}

.link-thumb-left {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  background-color: #fefefe;
  //font-family:@font-family-heading;

  .thumb {
    .border-radius();
    display: block;
    overflow: hidden;
    float: left;
    position: relative;
    width: 55%;
    height: auto;
    margin: 0 10px 6px 0;
    &.size-xlg {
      width: 66%;
    }
    &.size-lg {
      width: 58%;
    }
    &.size-md {
      width: 50%;
    }
    &.size-sm {
      width: 42%;
    }
    &.size-xs {
      width: 34%;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 60%;
    }
    &.scale-12:before {
      padding-bottom: 100%;
    }
    &.scale-11:before {
      padding-bottom: 93%;
    }
    &.scale-10:before {
      padding-bottom: 85%;
    }
    &.scale-9:before {
      padding-bottom: 75%;
    }
    &.scale-8:before {
      padding-bottom: 68%;
    }
    &.scale-7:before {
      padding-bottom: 58%;
    }
    &.scale-6:before {
      padding-bottom: 50%;
    }
    &.scale-5:before {
      padding-bottom: 42%;
    }
    &.scale-4:before {
      padding-bottom: 34%;
    }
    &.scale-3:before {
      padding-bottom: 25%;
    }
    &.scale-2:before {
      padding-bottom: 18%;
    }

    .image {
      .border-radius();
      display: block;
      overflow: hidden;
      z-index: 10;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border: 0px solid;
      //.transition(~"border-width .35s ease");
      .ch-noticias & {
        border-color: @color-noticias;
      }
      .ch-musicas & {
        border-color: @color-musicas;
      }
      .ch-estudos & {
        border-color: @color-estudos;
      }
      .ch-videos & {
        border-color: @color-videos;
      }
      .ch-livros & {
        border-color: @color-livros;
      }
      .ch-cinema & {
        border-color: @color-cinema;
      }
      .ch-podcasts & {
        border-color: @color-podcasts;
      }

      img {
        .border-radius();
        display: block;
        z-index: 10;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        min-height: 100%;
      }

      .icon {
        display: block;
        overflow: visible;
        z-index: 400;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        font-size: 60px;
        line-height: 60px;
        margin-top: -30px;
        margin-left: -30px;
        .opacity(.5);
      }
    }
  }

  a&:hover .thumb, a:hover & .thumb, & a.thumb:hover {
    .image {
      //border-width:5px;
      .icon {
        .opacity(.8);
      }
    }
  }

  .text-title {
    display: block;
    font-weight: normal;
    font-family: @font-family-heading;
    text-decoration: none;
    padding: 0;
    margin: 6px 0 8px;
    .ch-noticias & {
      color: @color-noticias;
    }
    .ch-musicas & {
      color: @color-musicas;
    }
    .ch-estudos & {
      color: @color-estudos;
    }
    .ch-videos & {
      color: @color-videos;
    }
    .ch-livros & {
      color: @color-livros;
    }
    .ch-cinema & {
      color: @color-cinema;
    }
    .ch-podcasts & {
      color: @color-podcasts;
    }
  }

  a&:hover .text-title, a:hover & .text-title, & a.text-title:hover {
    text-decoration: none;
    .ch-noticias & {
      color: darken(@color-noticias, 10%);
    }
    .ch-musicas & {
      color: darken(@color-musicas, 10%);
    }
    .ch-estudos & {
      color: darken(@color-estudos, 10%);
    }
    .ch-videos & {
      color: darken(@color-videos, 10%);
    }
    .ch-livros & {
      color: darken(@color-livros, 10%);
    }
    .ch-cinema & {
      color: darken(@color-cinema, 10%);
    }
    .ch-podcasts & {
      color: darken(@color-podcasts, 10%);
    }
  }

  a&:hover, a:hover & {
    text-decoration: none;
  }

}

.link-thumb-top {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px; // +6px from title and thumb
  background-color: #fefefe;
  //font-family:@font-family-heading;

  .thumb {
    .border-radius();
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 6px;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 60%;
    }
    &.scale-12:before {
      padding-bottom: 100%;
    }
    &.scale-11:before {
      padding-bottom: 93%;
    }
    &.scale-10:before {
      padding-bottom: 85%;
    }
    &.scale-9:before {
      padding-bottom: 75%;
    }
    &.scale-8:before {
      padding-bottom: 68%;
    }
    &.scale-7:before {
      padding-bottom: 58%;
    }
    &.scale-6:before {
      padding-bottom: 50%;
    }
    &.scale-5:before {
      padding-bottom: 42%;
    }
    &.scale-4:before {
      padding-bottom: 34%;
    }
    &.scale-3:before {
      padding-bottom: 25%;
    }
    &.scale-2:before {
      padding-bottom: 18%;
    }

    .image {
      .border-radius();
      display: block;
      overflow: hidden;
      z-index: 10;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      border: 0px solid;
      //.transition(~"border-width .35s ease");
      .ch-noticias & {
        border-color: @color-noticias;
      }
      .ch-musicas & {
        border-color: @color-musicas;
      }
      .ch-estudos & {
        border-color: @color-estudos;
      }
      .ch-videos & {
        border-color: @color-videos;
      }
      .ch-livros & {
        border-color: @color-livros;
      }
      .ch-cinema & {
        border-color: @color-cinema;
      }
      .ch-podcasts & {
        border-color: @color-podcasts;
      }

      img {
        .border-radius();
        display: block;
        z-index: 10;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        min-height: 100%;
      }

      .icon {
        display: block;
        overflow: visible;
        z-index: 400;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        font-size: 60px;
        line-height: 60px;
        margin-top: -30px;
        margin-left: -30px;
        .opacity(.5);
      }
    }
  }

  a&:hover .thumb, a:hover & .thumb, & a.thumb:hover {
    .image {
      //border-width:5px;
      .icon {
        .opacity(.8);
      }
    }
  }

  .text-title {
    display: block;
    font-weight: normal;
    font-family: @font-family-heading;
    text-decoration: none;
    padding: 0;
    margin: 0 0 6px;
    .ch-noticias & {
      color: @color-noticias;
    }
    .ch-musicas & {
      color: @color-musicas;
    }
    .ch-estudos & {
      color: @color-estudos;
    }
    .ch-videos & {
      color: @color-videos;
    }
    .ch-livros & {
      color: @color-livros;
    }
    .ch-cinema & {
      color: @color-cinema;
    }
    .ch-podcasts & {
      color: @color-podcasts;
    }
  }

  a&:hover .text-title, a:hover & .text-title, & a.text-title:hover {
    text-decoration: none;
    .ch-noticias & {
      color: darken(@color-noticias, 10%);
    }
    .ch-musicas & {
      color: darken(@color-musicas, 10%);
    }
    .ch-estudos & {
      color: darken(@color-estudos, 10%);
    }
    .ch-videos & {
      color: darken(@color-videos, 10%);
    }
    .ch-livros & {
      color: darken(@color-livros, 10%);
    }
    .ch-cinema & {
      color: darken(@color-cinema, 10%);
    }
    .ch-podcasts & {
      color: darken(@color-podcasts, 10%);
    }
  }

  a&:hover, a:hover & {
    text-decoration: none;
  }

}

.link-thumb-image {
  .border-radius();
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 0 16px;
  background-color: #fefefe;

  .fit-col & {
    margin-bottom: @gutter-fit;
  }
  .slim-col & {
    margin-bottom: @gutter-slim;
  }
  .tiny-col & {
    margin-bottom: @gutter-tiny;
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 60%;
  }
  &.scale-12:before {
    padding-bottom: 100%;
  }
  &.scale-11:before {
    padding-bottom: 93%;
  }
  &.scale-10:before {
    padding-bottom: 85%;
  }
  &.scale-9:before {
    padding-bottom: 75%;
  }
  &.scale-8:before {
    padding-bottom: 68%;
  }
  &.scale-7:before {
    padding-bottom: 58%;
  }
  &.scale-6:before {
    padding-bottom: 50%;
  }
  &.scale-5:before {
    padding-bottom: 42%;
  }
  &.scale-4:before {
    padding-bottom: 34%;
  }
  &.scale-3:before {
    padding-bottom: 25%;
  }
  &.scale-2:before {
    padding-bottom: 18%;
  }

  .image {
    .border-radius();
    display: block;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px solid;
    //.transition(~"border-width .35s ease");
    .ch-noticias & {
      border-color: @color-noticias;
    }
    .ch-musicas & {
      border-color: @color-musicas;
    }
    .ch-estudos & {
      border-color: @color-estudos;
    }
    .ch-videos & {
      border-color: @color-videos;
    }
    .ch-livros & {
      border-color: @color-livros;
    }
    .ch-cinema & {
      border-color: @color-cinema;
    }
    .ch-podcasts & {
      border-color: @color-podcasts;
    }

    img {
      .border-radius();
      display: block;
      z-index: 10;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: auto;
      min-height: 100%;
    }

    .icon {
      display: block;
      overflow: visible;
      z-index: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #ffffff;
      font-size: 60px;
      line-height: 60px;
      margin-top: -30px;
      margin-left: -30px;
      .opacity(.5);
    }
  }

  a&:hover .image, a:hover & .image, & a.image:hover {
    //border-width:5px;

    .fit-col &, .slim-col &, .tiny-col & {
      //border-width:2px;
    }

    .icon {
      .opacity(.8);
    }
  }

  .text-title {
    display: block;
    font-weight: normal;
    font-family: @font-family-heading;
    text-decoration: none;
    padding: 0;
    margin: 0 0 6px;
    .ch-noticias & {
      color: @color-noticias;
    }
    .ch-musicas & {
      color: @color-musicas;
    }
    .ch-estudos & {
      color: @color-estudos;
    }
    .ch-videos & {
      color: @color-videos;
    }
    .ch-livros & {
      color: @color-livros;
    }
    .ch-cinema & {
      color: @color-cinema;
    }
    .ch-podcasts & {
      color: @color-podcasts;
    }
  }

  a&:hover .text-title, a:hover & .text-title, & a.text-title:hover {
    text-decoration: none;
    .ch-noticias & {
      color: darken(@color-noticias, 10%);
    }
    .ch-musicas & {
      color: darken(@color-musicas, 10%);
    }
    .ch-estudos & {
      color: darken(@color-estudos, 10%);
    }
    .ch-videos & {
      color: darken(@color-videos, 10%);
    }
    .ch-livros & {
      color: darken(@color-livros, 10%);
    }
    .ch-cinema & {
      color: darken(@color-cinema, 10%);
    }
    .ch-podcasts & {
      color: darken(@color-podcasts, 10%);
    }
  }

  a&:hover, a:hover & {
    text-decoration: none;
  }

}

.link-list-default {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px; // +10px from title and thumb
  ul& {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  > li, > .item {
    display: block;
    margin: 0;
    padding: 12px 0;
    border-top: 1px solid #dadfe1;
    .list-slim& {
      padding: 8px 0;
    }

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }

  .text-title {
    display: block;
    font-weight: normal;
    font-family: @font-family-heading;
    text-decoration: none;
    margin: 0;
    padding: 0 0 0 8px;
    border-left: 3px solid #888888;
    .ch-noticias & {
      color: @color-noticias;
      border-color: @color-noticias;
    }
    .ch-musicas & {
      color: @color-musicas;
      border-color: @color-musicas;
    }
    .ch-estudos & {
      color: @color-estudos;
      border-color: @color-estudos;
    }
    .ch-videos & {
      color: @color-videos;
      border-color: @color-videos;
    }
    .ch-videos & {
      color: @color-videos;
      border-color: @color-videos;
    }
    .ch-videos & {
      color: @color-videos;
      border-color: @color-videos;
    }
    .ch-livros & {
      color: @color-livros;
      border-color: @color-livros;
    }
    .ch-cinema & {
      color: @color-cinema;
      border-color: @color-cinema;
    }
    .ch-podcasts & {
      color: @color-podcasts;
      border-color: @color-podcasts;
    }
    .default-color &, .default-color& {
      color: @color-default;
      border: @color-default;
    }
  }

  .text-item {
    display: block;
    font-weight: normal;
    font-family: @font-family-custom;
    text-decoration: none;
    margin: 0;
    padding: 0 0 0 8px;
    border-left: 3px solid #888888;
    .list-nostyle& {
      padding-left: 0;
      border-left: none;
    }
    .list-nowrap& {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .ch-noticias & {
      color: @color-noticias;
      border-color: @color-noticias;
    }
    .ch-musicas & {
      color: @color-musicas;
      border-color: @color-musicas;
    }
    .ch-estudos & {
      color: @color-estudos;
      border-color: @color-estudos;
    }
    .ch-videos & {
      color: @color-videos;
      border-color: @color-videos;
    }
    .ch-videos & {
      color: @color-videos;
      border-color: @color-videos;
    }
    .ch-videos & {
      color: @color-videos;
      border-color: @color-videos;
    }
    .ch-livros & {
      color: @color-livros;
      border-color: @color-livros;
    }
    .ch-cinema & {
      color: @color-cinema;
      border-color: @color-cinema;
    }
    .ch-podcasts & {
      color: @color-podcasts;
      border-color: @color-podcasts;
    }
    .default-color &, .default-color& {
      color: @color-default;
      border: @color-default;
    }
  }

  a&:hover .text-title, a:hover & .text-title, & a.text-title:hover,
  a&:hover .text-item, a:hover & .text-item, & a.text-item:hover {
    text-decoration: none;
    .ch-noticias & {
      color: darken(@color-noticias, 10%);
      border-color: darken(@color-noticias, 10%);
    }
    .ch-musicas & {
      color: darken(@color-musicas, 10%);
      border-color: darken(@color-musicas, 10%);
    }
    .ch-estudos & {
      color: darken(@color-estudos, 10%);
      border-color: darken(@color-estudos, 10%);
    }
    .ch-videos & {
      color: darken(@color-videos, 10%);
      border-color: darken(@color-videos, 10%);
    }
    .ch-livros & {
      color: darken(@color-livros, 10%);
      border-color: darken(@color-livros, 10%);
    }
    .ch-cinema & {
      color: darken(@color-cinema, 10%);
      border-color: darken(@color-cinema, 10%);
    }
    .ch-podcasts & {
      color: darken(@color-podcasts, 10%);
      border-color: darken(@color-podcasts, 10%);
    }
    .default-color &, .default-color& {
      color: lighten(@color-default, 20%);
      border: lighten(@color-default, 20%);
    }
  }

  a&:hover, a:hover & {
    text-decoration: none;
  }

}

.link-shopping {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  color: @color-default;

  .thumb {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 6px;
    //border-radius: 5px;

    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 60%;
    }
    &.scale-12:before {
      padding-bottom: 130%;
    }
    &.scale-11:before {
      padding-bottom: 120%;
    }
    &.scale-10:before {
      padding-bottom: 110%;
    }
    &.scale-9:before {
      padding-bottom: 100%;
    }
    &.scale-8:before {
      padding-bottom: 95%;
    }
    &.scale-7:before {
      padding-bottom: 85%;
    }
    &.scale-6:before {
      padding-bottom: 75%;
    }
    &.scale-5:before {
      padding-bottom: 65%;
    }
    &.scale-4:before {
      padding-bottom: 55%;
    }
    &.scale-3:before {
      padding-bottom: 45%;
    }
    &.scale-2:before {
      padding-bottom: 25%;
    }

    .image {
      display: block;
      overflow: hidden;
      z-index: 10;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      line-height: 100%;
      text-align: center;
      vertical-align: middle;

      img {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
      }

      .icon {
        display: block;
        overflow: visible;
        z-index: 400;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        font-size: 60px;
        line-height: 60px;
        margin-top: -30px;
        margin-left: -30px;
        .opacity(.5);
      }
    }
  }

  a&:hover .thumb, a:hover & .thumb, & a.thumb:hover {
    .image {
      //border-width:5px;
      .icon {
        .opacity(.8);
      }
    }
  }

  .text-title,
  .text-descr {
    display: block;
    font-weight: normal;
    font-family: @font-family-heading;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0 0 6px;
    color: @color-default;
    .ch-noticias & {
      color: @color-noticias;
    }
    .ch-musicas & {
      color: @color-musicas;
    }
    .ch-estudos & {
      color: @color-estudos;
    }
    .ch-videos & {
      color: @color-videos;
    }
    .ch-livros & {
      color: @color-livros;
    }
    .ch-cinema & {
      color: @color-cinema;
    }
    .ch-podcasts & {
      color: @color-podcasts;
    }
  }
  .text-descr {
    font-family: @font-family-custom;
  }

  a&:hover .text-title, a:hover & .text-title, & a.text-title:hover,
  a&:hover .text-descr, a:hover & .text-descr, & a.text-descr:hover {
    text-decoration: none;
    color: lighten(@color-default, 20%);
    .ch-noticias & {
      color: darken(@color-noticias, 10%);
    }
    .ch-musicas & {
      color: darken(@color-musicas, 10%);
    }
    .ch-estudos & {
      color: darken(@color-estudos, 10%);
    }
    .ch-videos & {
      color: darken(@color-videos, 10%);
    }
    .ch-livros & {
      color: darken(@color-livros, 10%);
    }
    .ch-cinema & {
      color: darken(@color-cinema, 10%);
    }
    .ch-podcasts & {
      color: darken(@color-podcasts, 10%);
    }
  }

  a&:hover, a:hover & {
    text-decoration: none;
  }

}

.text-xxl {
  font-size: 28px;
  line-height: 30px;
  @media (max-width: @screen-md-max) {
    font-size: 26px;
    line-height: 28px;
  }
}

.text-xl {
  font-size: 26px;
  line-height: 28px;
  @media (max-width: @screen-md-max) {
    font-size: 24px;
    line-height: 26px;
  }
}

.text-lg {
  font-size: 24px;
  line-height: 26px;
  @media (max-width: @screen-md-max) {
    font-size: 22px;
    line-height: 24px;
  }
}

.text-md {
  font-size: 22px;
  line-height: 24px;
  @media (max-width: @screen-md-max) {
    font-size: 20px;
    line-height: 22px;
  }
}

.text-sm {
  font-size: 18px;
  line-height: 20px;
  @media (max-width: @screen-md-max) {
    font-size: 16px;
    line-height: 18px;
  }
}

.text-xs {
  font-size: 16px;
  line-height: 18px;
  @media (max-width: @screen-md-max) {
    font-size: 14px;
    line-height: 16px;
  }
}

.text-xxs {
  font-size: 14px;
  line-height: 16px;
  @media (max-width: @screen-md-max) {
    font-size: 12px;
    line-height: 14px;
  }
}

.overbox-right-sidebar {
  @media (min-width: @screen-md-min) {
    margin-right: -((@grid-gutter-width / 2) + 300px);
  }
}

.containover-right-sidebar {
  @media (min-width: @screen-md-min) {
    margin-right: ((@grid-gutter-width / 2) + 300px);
  }
}

.content-side-bar {
  width: 100%;
  float: left;
  @media (min-width: @screen-md-min) {
    width: 300px;
    padding: 0;
  }
}

.sidebar-right {
  @media (min-width: @screen-md-min) {
    float: right;
  }
}

.sidebar-social-links {
  display: block;
  .clearfix();
  margin: 0 0 12px;
  .social-title {
    display: block;
    float: left;
    margin: 6px 0 0;
    padding: 0;
    font-weight: normal;
    font-family: @font-family-heading;
    font-size: 20px;
    line-height: 20px;
    color: @color-default;
  }
  .social-buttons {
    float: right;
    .sbtn {
      .border-radius(@border-radius-small);
      display: block;
      overflow: hidden;
      position: relative;
      float: left;
      width: 32px;
      height: 32px;
      text-indent: -5000px;
      margin: 0 0 0 8px;
      background-color: #ccc;
      &:hover {
        background-color: #eee;
      }
      &.facebook {
        background-color: #3460a1;
        &:hover {
          background-color: #5d80b4;
        }
      }
      &.twitter {
        background-color: #28aae1;
        &:hover {
          background-color: #53bbe7;
        }
      }
      &.feed {
        background-color: #f58020;
        &:hover {
          background-color: #f7994d;
        }
      }
      &.gplus {
        background-color: #d94f3d;
        &:hover {
          background-color: #e57769;
        }
      }
      &.youtube {
        background-color: #ee3138;
        &:hover {
          background-color: #f15a60;
        }
      }
      i.fa {
        text-indent: 0;
        display: block;
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -12px;
        margin-left: -12px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 24px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}

.sidebar-newsletter {
  display: block;
  margin: 0;
  padding: 0;
  .text-newsletter {
    padding: 0;
    margin: 0 0 8px;
    text-align: center;
    font-weight: normal;
    font-family: @font-family-custom;
    font-size: 14px;
    line-height: 18px;
    color: @color-default;
  }
  .form-newsletter {
    display: block;
    margin: 0;
    padding-left: -3px;
    padding-right: -3px;
    .form-group {
      padding-left: 3px;
      padding-right: 3px;
      .form-control {
        text-transform: lowercase;
        border-color: #dadfe1;
        .placeholder(#95a1a6);
      }
      .btn-default {
        text-transform: lowercase;
        background-color: #dadfe1;
        border-color: #dadfe1;
        color: @color-default;
      }
    }
  }
}

.sidebar-banner {
  display: block;
  text-align: center;
  margin: 0 0 12px;
  .banner-block {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
  }
}

.footerbar-banner {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 0 12px;
  .banner-block {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
  }
}

.ch-title {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 0 8px;
  font-weight: normal;
  font-family: @font-family-heading;
  font-size: 36px;
  line-height: 40px;
  text-transform: lowercase;
  &.nolower {
    text-transform: none;
  }
  color: @color-default;
  .ch-noticias & {
    color: @color-noticias;
  }
  .ch-musicas & {
    color: @color-musicas;
  }
  .ch-estudos & {
    color: @color-estudos;
  }
  .ch-videos & {
    color: @color-videos;
  }
  .ch-livros & {
    color: @color-livros;
  }
  .ch-cinema & {
    color: @color-cinema;
  }
  .ch-podcast & {
    color: @color-podcasts;
  }

  &.ch-title-border {
    border-bottom: 1px solid #dadfe1;
  }
  &.ch-title-marker:after,
  &.ch-title-border:after {
    content: " ";
    display: block;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 5px;
    background: #aaa;
    .ch-noticias & {
      background: @color-noticias;
    }
    .ch-musicas & {
      background: @color-musicas;
    }
    .ch-estudos & {
      background: @color-estudos;
    }
    .ch-videos & {
      background: @color-videos;
    }
    .ch-livros & {
      background: @color-livros;
    }
    .ch-cinema & {
      background: @color-cinema;
    }
    .ch-podcast & {
      background: @color-podcasts;
    }
  }
  &.title-lg {
    font-size: 40px;
    line-height: 44px;
  }
  &.title-md {
    font-size: 32px;
    line-height: 36px;
  }
  &.title-sm {
    font-size: 28px;
    line-height: 32px;
  }
  &.title-xs {
    font-size: 24px;
    line-height: 28px;
  }
  &.title-xxs {
    font-size: 20px;
    line-height: 22px;
  }

  i.fa {
    float: right;
    font-size: 30px;
    line-height: 30px;
  }
}

.ch-description {
  padding: 0;
  margin: 0 0 8px;
  font-weight: normal;
  font-family: @font-family-custom;
  font-size: 14px;
  line-height: 18px;
  color: @color-default;
}

.border-group-box {
  .border-radius(@border-radius-base);
  border: 1px solid #dadfe1;
  border-top-width: 4px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
  padding: 0;
  &.row > div {
    padding: 15px 15px 0;
  }
  &.border-cols > div {
    border-left: 1px solid #dadfe1;
    &:first-child {
      border-left: none;
    }
  }
}

.podcast-embed {
  margin: 0 0 12px;
}

.no-radius-tl {
  &, img, .image, .image:before {
    border-top-left-radius: 0;
  }
}

.control-vertical {
  .carousel-inner {
    height: 100%;

    .item {
      padding-top: 40px;
      padding-bottom: 40px;
      //-webkit-transition: 0.6s ease-in-out top;
      //-moz-transition: 0.6s ease-in-out top;
      //-ms-transition: 0.6s ease-in-out top;
      //-o-transition: 0.6s ease-in-out top;
      //transition: 0.6s ease-in-out top;
      -webkit-transition-property: top, transform;
      -moz-transition-property: top, transform;
      -ms-transition-property: top, transform;
      -o-transition-property: top, transform;
      transition-property: top, transform;
    }

    .active {
      top: 0;
      left: 0;
    }

    .next, .active.right {
      top: 100%;
      left: 0;
      @media not all, (-webkit-transform-3d) {
        .translate3d(0; 100%; 0);
        top: 0;
      }
    }

    .prev, .active.left {
      top: -100%;
      left: 0;
      @media not all, (-webkit-transform-3d) {
        .translate3d(0; -100%; 0);
        top: 0;
      }
    }

    .item {
      left: 0;
    }

  }
  .carousel-control {
    z-index: 500;
    width: 100%;
    height: 30px;
    border: none;
    .border-radius(@border-radius-small);
    left: 0;
    right: 0;
    margin-top: 0;
    background: @color-light;
    color: #ffffff;
    .opacity(1);
    &:hover {
      color: lighten(@color-light, 10%);
    }
    &.left {
      top: 0px;
      bottom: auto;
    }
    &.right {
      top: auto;
      bottom: 0px;
    }
    .glyphicon-chevron-up, .glyphicon-chevron-down {
      width: 16px;
      height: 16px;
      font-size: 16px;
      margin-top: -8px;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.control-outside {
  .carousel-inner {
    .item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .carousel-control {
    z-index: 500;
    width: 16px;
    height: 16px;
    border: none;
    .border-radius(0);
    top: 50%;
    margin-top: -8px;
    background: none;
    color: #dadfe1;
    .opacity(1);
    &:hover {
      color: #c4c8ca;
    }
    &.left {
      left: 0px;
    }
    &.right {
      right: 0px;
    }
    .glyphicon-chevron-left, .glyphicon-chevron-right {
      width: 16px;
      height: 16px;
      font-size: 16px;
      margin-top: -8px;
    }
    .glyphicon-chevron-left {
      margin-left: -8px;
    }
    .glyphicon-chevron-right {
      margin-right: -8px;
    }
  }
}

.control-round {
  .carousel-control {
    z-index: 500;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    .border-radius(50%);
    top: 50%;
    margin-top: -25px;
    background: rgba(255, 255, 255, .3);
    .opacity(1);
    &:hover {
      background: rgba(255, 255, 255, .6);
      .box-shadow(0 1px 2px rgba(0, 0, 0, .6));
    }
    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
  }
}

.page-header {
  padding-bottom: 0;
  margin: 20px 0 20px;
}

.blocks-hidden {
  > div {
    display: none;
    &.active {
      display: block;
    }
  }
}

.divider-cols {
  > div {
    border-left: 1px solid @color-light;

    &:first-child {
      border-left: none;
    }
  }
}

.list-end-bottom {
  > a, > li {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.spacer-bottom {
  margin-bottom: 15px;
}

.fit-row {
  margin-left: (@gutter-fit / -2);
  margin-right: (@gutter-fit / -2);
}

.fit-col {
  padding-left: (@gutter-fit / 2);
  padding-right: (@gutter-fit / 2);
}

.slim-row {
  margin-left: (@gutter-slim / -2);
  margin-right: (@gutter-slim / -2);
}

.slim-col {
  padding-left: (@gutter-slim / 2);
  padding-right: (@gutter-slim / 2);
}

.tiny-row {
  margin-left: (@gutter-tiny / -2);
  margin-right: (@gutter-tiny / -2);
}

.tiny-col {
  padding-left: (@gutter-tiny / 2);
  padding-right: (@gutter-tiny / 2);
}

@media (max-width: @screen-xs-max) {
  .text-right-xs {
    text-align: right;
  }
  .text-center-xs {
    text-align: center;
  }
  .text-left-xs {
    text-align: left;
  }
}

@media (min-width: @screen-sm-min) {
  .text-right-sm {
    text-align: right;
  }
  .text-center-sm {
    text-align: center;
  }
  .text-left-sm {
    text-align: left;
  }
}

@media (min-width: @screen-md-min) {
  .text-right-md {
    text-align: right;
  }
  .text-center-md {
    text-align: center;
  }
  .text-left-md {
    text-align: left;
  }
}

@media (min-width: @screen-lg-min) {
  .text-right-lg {
    text-align: right;
  }
  .text-center-lg {
    text-align: center;
  }
  .text-left-lg {
    text-align: left;
  }
}

